body {
  background-color: #fefae0;
  font-family: Inria Sans, sans-serif;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.video, .introduction, .presentation, .ingredients, .recette{
  padding: 24px 0;
  background-color: #faedcd;
  margin-top: 32px;
  border-radius: 8px;
  padding: 24px 32px;
}

.ingredients, .recette {
  text-align: left;
}

 li {
  font-size: 24px;
}

.introduction h2 {
  color: red;
}
